extends layout

block content
  div.jumbotron

    h1 Welcome to Angular Espresso

    div.lead Hello, {{name}}
    span.lead Click on one of the options below to test the project
      br
      ul
        li
          a(href='#/home') User listing, details
      hr
      div(ng-view)

    div
      | Angular Espresso, version &nbsp;
      span(app-version)

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-resource.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.min.js')
  script(src='/client/js/application.js')